local.properties

.gradle/
build/
*/build/
app/release/

.idea/
*.iml

.externalNativeBuild/
*/.externalNativeBuild/
.cxx/
*/.cxx/

.DS_Store

# Ignore all native compiled libraries inside jniLibs directory
**/jniLibs/**/*.so
app/src/main/jniLibs/

*store.properties
*.jks
*.keystore

# Ignore the cache tracker for native binatires
current_binaries_tag.txt
